<p style="color: green"><%= notice %></p>

<h1>Account users</h1>

<div id="account_users">
  <% @account_users.each do |account_user| %>
    <%= render account_user %>
    <p>
      <%= link_to "Show this account user", account_user %>
    </p>
  <% end %>
</div>

<%= link_to "New account user", new_account_user_path %>
